<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="Wamby.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wamby.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Wamby.Client.Properties.Settings>
      <setting name="AppArgumentsSeparator" serializeAs="String">
        <value>|</value>
      </setting>
      <setting name="AppArgumentPartsSeparator" serializeAs="String">
        <value>=</value>
      </setting>
    </Wamby.Client.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Wamby.Client.Properties.Settings>
      <setting name="DoScanAfterChangingBaseFolderPath" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultBaseFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultIncludeSubFolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSearchPattern" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="ShowMinimumFolderLevelInLog" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Layouts_SaveOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Layouts_LoadOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveToFileReadableFormat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultDetailedScanType" serializeAs="String">
        <value>Fast</value>
      </setting>
      <setting name="SkinName" serializeAs="String">
        <value>Office 2019 Colorful</value>
      </setting>
      <setting name="SkinPalette" serializeAs="String">
        <value>Default</value>
      </setting>
    </Wamby.Client.Properties.Settings>
  </userSettings>
</configuration>